<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <header>
        <nav>
            {{!-- {{#if logged_in}} --}}
            <button onclick="window.location.href='/';" class="btn btn-primary" type="submit" href="/signup">Home</button>
            <button onclick="window.location.href='/dashboard';" class="btn btn-primary" type="submit" href="/signup">Dashboard</button>
            <button onclick="window.location.href='';" class="btn btn-primary" type="submit" href="/signup">Logout</button>
            {{!-- {{else}} --}}
            <button onclick="window.location.href='/login';" class="btn btn-primary" type="submit" href="/signup">Login</button>
            {{!-- {{/if}} --}}
            <h1>The Ultimate Tech Blog</h1>
        </nav>


    </header>

    <main>
        {{{body}}}

    </main>

    <footer></footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>