<div class="text-center">
  <h2>{{post.tittle}}</h2>
  <p>{{post.content}}</p>
  <p>Created by {{user.username}} on {{post.createdAt}}</p>
    <button class="btn btn-primary">Update</button>
    <button class="btn btn-primary">Delete</button>
  </p>
</div>
